<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleIconFile</key>
	<string>am.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>tmAM</string>
	<key>CFBundleVersion</key>
	<string>1.9.7</string>
	<key>CFBundleShortVersionString</key>
	<string>1.97</string>
	<key>CFBundleExecutable</key>
	<string>AktienMan</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIdentifier</key>
	<string>de.aktienman</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (c) Thomas Much, AktienMan & Friends 1998-2002</string>
</dict>
</plist>
